# PostgreSQL shared configuration
DATA_ROOT=/mnt/d/NCKH/e-learning/qa-tools
QA_DB_USER=admin
QA_DB_PASSWORD=admin123
POSTGRES_DB=qa_default_db
POSTGRES_PORT=15434

# MantisBT configuration
MANTIS_DB_NAME=mantis_db
MANTIS_PORT=18081

# TestLink configuration
TESTLINK_DB_NAME=testlink_db
TESTLINK_PORT=18082
