# PostgreSQL shared configuration
QA_DB_USER=admin
QA_DB_PASSWORD=admin123
POSTGRES_DB=qa_default_db
POSTGRES_PORT=15433

# MantisBT configuration
MANTIS_DB_NAME=mantis_db
MANTIS_PORT=18081

# TestLink configuration
TESTLINK_DB_NAME=testlink_db
TESTLINK_PORT=18082
