# =========================
# MySQL
# =========================
MYSQL_HOST_PORT=13306
MYSQL_ROOT_PASSWORD=mysql_root_password
MYSQL_DATABASE=mysql_app_db
MYSQL_USER=mysql_app_user
MYSQL_PASSWORD=mysql_app_password

# =========================
# MariaDB
# =========================
MARIADB_HOST_PORT=13307
MARIADB_ROOT_PASSWORD=mariadb_root_password
MARIADB_DATABASE=mariadb_app_db
MARIADB_USER=mariadb_app_user
MARIADB_PASSWORD=mariadb_app_password

# =========================
# PostgreSQL
# =========================
POSTGRES_HOST_PORT=15434
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_app_db


# =========================
# Redis
# =========================
REDIS_HOST_PORT=16379
REDIS_PASSWORD=redis_password

# =========================
# Qdrant
# =========================
QDRANT_HTTP_HOST_PORT=16333
QDRANT_GRPC_HOST_PORT=16334
QDRANT_API_KEY=qdrant_api_key

# =========================
# MongoDB
# =========================
MONGO_HOST_PORT=17017
MONGO_ROOT_USERNAME=mongo_admin
MONGO_ROOT_PASSWORD=mongo_admin_password
MONGO_DATABASE=mongo_app_db

# =========================
# ELK Stack
# =========================
ELASTICSEARCH_HOST_PORT=19200
LOGSTASH_BEATS_PORT=15044
LOGSTASH_TCP_PORT=50000
KIBANA_HOST_PORT=15601

# Cấu hình Production (khi lên prod chỉ cần sửa các dòng dưới)
ELASTIC_SECURITY_ENABLED=false
ELASTIC_PASSWORD=elastic_password
KIBANA_SYSTEM_PASSWORD=kibana_system_password
KIBANA_ENCRYPTION_KEY=changeme32characterslongsecretkey
ELASTICSEARCH_URL=http://elasticsearch:9200

# =========================
# Prometheus & Grafana
# =========================
PROMETHEUS_HOST_PORT=19090
GRAFANA_HOST_PORT=13000
GRAFANA_ADMIN_PASSWORD=admin

